{% load static %}
{% include "includes/header.html" %}
<!--contact start here-->
<!--banner-w3layouts-->
<div class="banner-w3layouts-info two">
    <!--/search_form -->
    <div id="banner-w3layouts-info" class="search_top text-center">
        <p>Add some discription</p>
        <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">Register</li>
        </ol>
    </div>
    <!--//banner-w3layouts-info -->
</div>
<!--//banner-w3layouts-->
</div>
<!--/main-->
<!--/main-->
<section class="banner-w3layouts-bottom py-lg-5 py-3">
    <div class="container py-lg-4 py-3">
        <h3 class="tittle text-center">About Us</h3>
        <div class="inner-sec-agileits-w3ls">
            <div class="login p-5 bg-light mx-auto mw-100">

                <p class="my-xl-4 my-lg-3 my-md-4 my-3">This system is AUCTION MANAGEMENT SYSTEM.This is help to buy
                    property. This is end to end solution for online bidding and selling process includes product
                    uploading, dynamic product listing, search, buy, bid and add product to shopping cart, calculate
                    price, calculate shipping cost, payment processing, invoice generation, order tracking, and
                    generation of reports for the management.This introduce search product that will help users search
                    less and do more.The new experience created by using user input and research. This means that people
                    searching for products will save time because they no longer need to navigate to a dedicated
                    shopping experience to find what they are looking for. Below we outline the steps you will need to
                    take as an advertiser on this site, to prepare for this change when it takes effect in the coming
                    weeks..
                </p>

            </div>
        </div>
    </div>
</section>
<!--//main-->
<!--contact end here-->
{% include "includes/footer.html" %}