{% load static %}
{% include "includes/header.html" %}
<!--contact start here-->
		<!--banner-w3layouts-->
		<div class="banner-w3layouts-info two">
			<!--/search_form -->
			<div id="banner-w3layouts-info" class="search_top text-center">
				<p>Add some discription</p>
				<ol class="breadcrumb justify-content-center">
					<li class="breadcrumb-item">
						<a href="index.html">Home</a>
					</li>
					<li class="breadcrumb-item active">Register</li>
				</ol>
			</div>
			<!--//banner-w3layouts-info -->
		</div>
		<!--//banner-w3layouts-->
	</div>
	<!--/main-->
<section class="banner-w3layouts-bottom py-lg-5 py-3">
	<div class="container-fluid py-lg-4 py-3">
		<h3 class="tittle text-center mx-auto mb-lg-4 mb-3">Gallery</h3>
		{% if gallery|length > 0 %}
		<ul class="portfolio-area clearfix">
			{% for i in gallery %}
			<li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
				<div>
					<span class="image-block img-hover">
						<a class="image-zoom rounded" href="{{i.photos}}">
							<img src="{{i.photos}}" class="img-fluid rounded" alt="">
						</a>
					</span>
				</div>
			</li>
			{% endfor %}
		</ul>
		{% else %}
		<b>No images found</b>
		{% endif %}
	</div>
</section>
	<!--//projects -->
<!--contact end here-->
{% include "includes/footer.html" %}